#Comments {
  color: white;
  line-height: 25px;
  width: 90%;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  margin: 30px;
  font-weight: 300;
  overflow: hidden;
}

.user-input-container {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-comments {
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid rgb(245, 245, 245, 0.5) thin;
  color: white;
  background-color: black;
  width: 100%;
  font-size: 15px;
}

.input-comments::placeholder {
  color: whitesmoke;
  opacity: 0.6;
}

.input-comments:focus {
  border-bottom: solid rgb(245, 245, 245) thin;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.buttons-container-comments {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.add-button {
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: #b53dff;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-button-none {
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: #b53dff;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.3;
  pointer-events: none;
}

.add-button:hover {
  background-color: #ce7fff;
}

.cancel-button {
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: black;
  color: #b53dff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cancel-button:hover {
  background-color: rgb(60, 60, 60);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  position: relative;
}

.comments-list-container {
  display: flex;
  flex-direction: column-reverse;
  font-size: 30px;
}

.list p {
  margin: 0px;
  font-size: 15px;
  text-align: left;
}

.username {
  margin: 0px;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
}

.user-btn {
  color: #b53dff;
  font-size: 15px;
  margin-right: 10px;
}

.date {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: rgb(192, 192, 192);
}

.delete-comment {
  font-weight: 800;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.show-more-button {
  color: gray;
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
}

.show-more-button:hover {
  text-decoration: underline;
}

@media (max-width: 1025px) {
  #Comments {
    width: 100%;
    margin: 0;
  }
  .user-input-container {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .list p {
    line-height: 20px;
  }
  .all-list-container {
    margin: 0 10px;
  }
}

@media (max-width: 600px) {
  .list p {
    font-size: 10px;
    line-height: 15px;
  }
  .show-more-button {
    font-size: 7px;
  }
  .add-button-none {
    padding: 6px 13px;
    border-radius: 25px;
    font-size: 11px;
    font-weight: 500;
  }
  .add-button {
    padding: 6px 13px;
    border-radius: 25px;
    font-size: 11px;
    font-weight: 500;
  }
  .cancel-button {
    padding: 6px 13px;
    border-radius: 25px;
    font-size: 11px;
    font-weight: 500;
  }
  .input-comments::placeholder {
    font-size: 10px;
  }
  .input-comments {
    font-size: 10px;
  }
  .date {
    font-size: 8px;
  }
}
