#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;
}

.burger-btn {
  font-size: 1.8rem;
  background-color: transparent;
  color: #b53dff;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  margin-left: 90px;
}
.burger-btn:hover {
  transform: scale(0.9);
}

.aceflix-logo img {
  width: 110px;
  cursor: pointer;
}

.main-search-input {
  position: relative;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  padding: 0px;
}

.header-search-btn {
  position: relative;
  color: whitesmoke;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  opacity: 1;
  animation: mooveSearchButton 2s ease-in-out infinite forwards;
  background-color: #b53dff;
  margin: 0 90px 0 0;
}

.header-search-btn:hover {
  background-color: black;
  color: whitesmoke;
  animation: none;
}

.box-container {
  position: fixed;
  top: 10px;
  right: 0;
}

.screen-cover-black {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: transparent;
  background-color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

@keyframes mooveSearchButton {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* RESPONSIVE MOBILE ET TABLETTE  */

@media (max-width: 1025px) {
  .burger-btn {
    margin: 0 20px 0 0;
    color: transparent;
    pointer-events: none;
  }
  .aceflix-logo img {
    width: 100px;
  }
  .main-search-input .header-input {
    display: inline-block;
  }
  .box-container {
    top: 0;
  }
  .header-search-btn {
    margin: 0 20px 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .aceflix-logo img {
    width: 80px;
  }
}
