.swipper-cinema-content {
  height: 600px;
}

@media (min-width: 1919px) {
  .swipper-cinema-content {
    height: 850px;
  }
}

@media (min-width: 2500px) {
  .swipper-cinema-content {
    height: 1000px;
  }
}

@media (max-width: 600px) {
  .swipper-cinema-content {
    height: 500px;
  }
}
